.selectButton > :global(.bp5-button-text) {
    flex-grow: 1;
}
.toolTip {
    font-size: 0.8rem;
    padding: 0.5em 0.75em;
    background-color: #eee;
}

.rangeSlider > span > span {
    z-index: 1;
}